{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Hello World!</h1>
    </div>

    <div class="c-feature-bd">
        <div class="o-poem" data-view="PoemView">
            <div class="o-vr o-vr_6x">
                <div class="c-epigraph">
                    <p>
                        <div style="font-style:italic;"><p>(from <span style="font-style:normal">Hamlet</span>, spoken by Hamlet)</p></div>
                    </p>
                </div>
            </div>

            <div style="text-indent: -1em; padding-left: 1em;">To be, or not to be, that is the question:<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">Whether 'tis nobler in the mind to suffer<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">The slings and arrows of outrageous fortune,<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">Or to take arms against a sea of troubles<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">And by opposing end them. To die—to sleep,<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">Than fly to others that we know not of?<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">Thus conscience doth make cowards of us all,<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">And thus the native hue of resolution<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">Is sicklied o'er with the pale cast of thought,<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">And enterprises of great pith and moment<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">With this regard their currents turn awry<br></div>
            <div style="text-indent: -1em; padding-left: 1em;">And lose the name of action.<br></div>
            <div style="text-indent: -1em; padding-left: 1em;"><br></div>
        </div>
    </div>


    <div class="container"> 
        {% include 'pages/home_form.html' %}
    </div>
{% endblock content %}
